@import url('./font-awesome.min.css');
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(../font/logo.woff) format('woff');
}