/**
*
* Sidebar Styles
*
**/

.side-cnt,.mime-block {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 0px;
  margin-bottom: -1px;
  text-shadow: 1px 1px 2px #fff;
  position: relative;
  .title {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
    font-weight: normal;
    padding: 0px 10px;
    margin-top: 5px;
  }
  input[type=text] {
    border: 1px solid #ddd;
    padding: 3px;
    .br;
  }
  a {
    color: #444;
    font-size: 12px;
    &:hover {
      color:#999;
    }
  }
  ul,ol {
    padding-left: 0px;
    margin-left: 0px;
    display: block;
    li {
      color: #999;
      margin-bottom: 1px;
      overflow: hidden;
      padding: 3px 9px;
      padding-left: 12px;
      &:hover {
        i {
          color: #444;
        }
      };
      i {
        color: #999;
        padding-right: 8px;
      }
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
  .avatar_container {
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 9;
    img.avatar-mini {
      width: 25px;
      height: 25px;
      border: 1px solid #ddd;
      padding: 1px;
    }
  }
  .pub-list {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 15px;
  }
  .single-pub {
    padding: 12px 0;
    h4 {
      margin: 0;
      line-height: 1;
      a {
        font-size: 14px;
        i.icon-chevron-right {
          color: @key-color;
        }
      }
    }
    span {
      padding-left: 10px;
      font-size: 12px;
      color: #999;
    }
  }
}
.boards-nav {
  font-size: 12px;
  color: #444;
  text-shadow: 0px 1px 1px #f5f5f5;
  position: relative;
  margin-left: 10px;
  width: 248px;
  a.dropdown-trigger {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    &:hover {
      background-color: #f5f5f5;
    }
    #droped {
      float: right;
    }
    span.icon {
      padding-left: 10px;
      i {
        padding-right: 0px;
      }
    }
  }
  .sub-menu {
    position: absolute;
    list-style-type: none;
    z-index: 9999;
    right: 0px;
    top: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0px;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    box-shadow: 0px 0px 10px #ddd;
    li {
      display: block;
      float: none;
      width: 100%;
      a {
        border: 0px;
        border-radius: 0px;
        padding: 6px 12px;
        display: block;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
  &:hover {
    .sub-menu {
      border-color: #999;
    }
    .dropdown-trigger {
      border-color: #999; 
    }
  }
  @media @mobile {
    margin-left: 0px;
    float: none;
    span.icon {
      display: block;
      float: right;
    }
  }
}